*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{

    /* --font-color: #f1faee; */
    /* --background-color: #457b9d;
    --secondary-background:#a8dadc;
    --font-secondary-color: #1d3557;
    --emp-color:#e63946; */
    --background-color:#E8F5FA;
    --secondary-background:#3C7F9A;
    --font-secondary-color: #130C34;
    --emp-color: #5235D1;
    --icon-color:#F09B1C;
}
body{
    color: var(--font-color);
    background-color: var(--background-color);
}
header{
    background: var(--secondary-background);
    display: grid;
    grid-template-columns: auto auto;
    
    /* width: 100%; */
}
.menu-button{
    margin-left: 30px;
    margin-top:15px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: white;
    text-decoration: none;
    border: 1px black solid;
    display: block;

}
.text-header{
    color: black;
    margin-top:15px;
    margin-left: 5px;
}
.grid-item{
    display: inline-flex;
}
.image-header{
    width: 100px;
    height: 60px;
    margin-top: 5px ;
}

nav
{
    
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    display: none;
    transition: 0.5s;
}
nav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
nav a:hover{
    color: #f1f1f1;
}


footer{
    max-height: 100px;
    background-color:var(--secondary-background) ;
    text-align: center;
}